{
    "presets": ["env", "react"],
    "plugins": ["transform-class-properties",
        ["transform-runtime",
            {
              "regenerator": true
            }
        ],
        "transform-object-rest-spread"
    ]
}