{
    "presets": ["env", "react"],
    "plugins": [
        "transform-decorators-legacy",

        "transform-class-properties",
        ["transform-runtime",
            {
              "regenerator": true
            }
        ],
        "transform-object-rest-spread"
    ]
}